.html
{
	background: url("../images/header_bg.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 373.5000000000002px;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 40px 64.49999999999977px;
}

#u89
{
	z-index: 23;
	width: 209px;
	margin-left: 215px;
	position: relative;
}

#u77-21
{
	z-index: 2;
	width: 640px;
	min-height: 212px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	line-height: 22px;
	font-weight: bold;
	margin-top: 58px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

