:root {
    --color-sub: #336b9c;
    --color-main: #ffd948;
}

@font-face {
  font-family: 'font-regular';
  src: url('../fonts/ROBOTO-REGULAR_0.TTF');
  font-display: swap;
}
@font-face {
  font-family: 'font-bold';
  src: url('../fonts/ROBOTO-BOLD_0.TTF');
  font-display: swap;
}
@font-face {
  font-family: 'font-italic';
  src: url('../fonts/ROBOTO-ITALIC.TTF');
  font-display: swap;
}

* {
	font-family: 'font-regular';
}

.text-bold {
	font-family: 'font-bold' !important;
}

.text-italic {
	font-family: 'font-italic' !important;
}

.text-main {
	color: var(--color-main) !important;
}

.text-sub {
	color: var(--color-sub) !important;
}

.flex-basis-40 {
	flex-basis: 40% !important;
}

.bg-main {
	background-color: var(--color-main) !important;
}

.bg-sub {
	background-color: var(--color-sub) !important;
}

.navbar-collapse .nav-link {
	font-family: 'font-bold';
	color: #000;
}

.regis-btn {
	color: #FFF;
	border-radius: 20px;
}

.btn:hover {
	color: #FFF !important;
}

.section-banner {
	padding-top: 82px;
}

.section-1 iframe {
	height: 20vw;
}

@media (max-width: 1050px) {
	.section-1 .justify-content-center {
		flex-direction: column;
	}
}

.section-2 {
	background: url(../img/section2bg-min.png);
	background-size: cover;
}

@media (max-width: 1024px) {
	.section-2 .sec-2 {
		flex-direction: column-reverse;
	}
}

@media (max-width: 414px) {
	.section-2 .box {
		flex-direction: column !important;
		text-align: center;
		justify-content: center;
	}
}

.section-3 .box {
	flex-basis: 16%;
	text-align: center;
	padding: 11px !important;
}

.section-3 .box .img-container {
	margin: 0px auto;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--color-sub);
}

.section-3 .box img {
	height: 60%;
}

.section-3 .box small {
	font-size: 15px;
}

@media (max-width: 1050px) {
	.section-3 .box {
		flex-basis: 40%;
	}
}

@media(max-width: 768px) {
	.section-4 .wrapper {
		flex-direction: column-reverse;
	}
}

@media(max-width: 767px) {
	.section-5 .box:nth-child(2n) {
		justify-content: flex-end !important;
	}

	.section-5 .box:nth-child(2n+1) {
		justify-content: flex-start !important;
	}
}

.section-6 button {
	border-radius: 40px !important;
}

@media (max-width: 1024px) {
	.section-6 .box {
		margin-left: 3.5rem !important;
		margin-right: 3.5rem !important;
	}
}

@media (max-width: 768px) {
	.section-6 .box {
		margin-left: 2.5rem !important;
		margin-right: 2.5rem !important;
	}

	.section-6 h4 {
		width: 100% !important;
	}
}

.section-6 .box small {
	font-size: 14px;
}

.section-7 {
	background: url('../img/bg_58-min.png') no-repeat center center fixed;
	background-size: cover;
}

.section-7 .box {
	flex-basis: 17%;
}

.section-7 .box p {
	color: #1F1F1F;
}

@media (max-width: 1180px) {
	.section-7 .box {
		flex-basis: 80%;
	}

	.section-7 img {
		display: none;
	}

	.section-7 video {
		display: none;
	}

	.section-7 iframe {
		display: none;
	}
}	

.section-8 .box {
	flex-basis: 23%;
}

.section-8 button {
	border-radius: 40px !important;
}

.section-9 {
	background-image: url('../img/bg_2-min.png');
}

.section-9 .card {
	flex-basis: 38%;
	min-height: 285px;
}

.section-9 .card label {
	color: var(--color-sub);
}

.section-9 .card .avt {
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	width: 73px;
	height: 73px;
}

@media (max-width: 413px) {
	.section-9 .card .avt {
		display: none;
	}
}

@media (max-width: 1150px) {
	.section-9 .card {
		flex-basis: 70%;
		min-height: 0px;	
	}

	.section-9 #carouselQuotesCompaniesPC {
		display: none !important;
	}

	.section-9 #carouselQuotesCompaniesMB {
		display: block !important;
	}
}

.carousel-indicators {
	bottom: -60px;
}

.carousel-indicators li {
	width: 15px !important;
	height: 15px !important;
	border-radius: 50%;
	background-color: var(--color-sub);
}

.carousel-control-icon {
	background-color: var(--color-sub);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px;
	border-radius: 50%;
}

.section-10 {
	background: url('../img/sec-11bg-min.png') center fixed no-repeat;
	background-size: cover;
}

.section-10 .img-container {
	top: -75px;
	height: 170px;
	width: 170px;
	border: 10px solid #FFF;
	border-radius: 50%;
	background-color: #FFF;
}

.section-10 .img-container img {
	border-radius: 50%;
	width: 100%;
	object-fit: cover;
}

.section-10 .carousel-inner{
	overflow: visible !important;
}

.section-10 .card .title {
	padding-left: 200px;
}

.section-10 .card {
	flex-basis: 37%;
}

.section-10 .card a {
	color: var(--color-sub);
}

.section-10 .hidden-title {
	display: none;
}

@media (max-width: 1150px) {
	.section-10 .card {
		flex-basis: 70%;
		min-height: 0px;	
	}

	.section-10 #carouselFeelStdPC {
		display: none !important;
	}

	.section-10 #carouselFeelStdMB {
		display: block !important;
	}
}

@media (max-width: 767px) {
	.section-10 .card .title {
		display: none;	
	}

	.section-10 .card .hidden-title {
		display: block !important;	
	}
}


.section-11 {
	background-image: url(../img/bgg-min.png);
	background-color: var(--color-sub);
}

.section-11 .box:first-child {
	flex-basis: 50%;
}

.section-11 .box:last-child {
	flex-basis: 40%;
}

.section-11 .box ul {
	list-style-image: url('../img/v-list.png');
	color: #FFF;
	text-align: left;
}

.section-11 .box ul li {
	padding-top: 10px;
}

.section-11 form button {
	background-color: var(--color-main);
	border-radius: 25px;
}

.section-11 .countdown-box {
	background-color: var(--color-main);
	flex-basis: 10%;
}

.section-11 img {
	max-width: 100%;
}

.section-11 .box {
	max-width: 100% !important;
}

.form-control {
	border: none !important;
}

@media (max-width: 1150px) {
	.section-11 .box {
		flex-basis: 100% !important;
	}
}

@media (max-width: 767px) {
	.section-11 .title-sm {
		display: block !important;
	}

	.section-11 .title-lg {
		display: none !important;
	}

	.section-11 .countdown-box {
		flex-basis: 20%;
	}
}

@media(max-width: 375px) {
	.section-11 .countdown-box {
		flex-basis: 45% !important;
	}
}

.section-11 {
	background-color: var(--color-main);
}

.section-11 h5 {
	line-height: 30px;
}

.section-11 .box {
	max-width: 100%;
}

.section-11 .btn {
	border-radius: 25px !important;
}

.section-11 .countdown-box {
	background-color: var(--color-sub);
	flex-basis: 17%;
}

.form-control {
	border: none !important;
}

@media (max-width: 1150px) {
	.section-11 .box {
		flex-basis: 100% !important;
	}
}

@media (max-width: 767px) {
	.section-11 .countdown-box {
		flex-basis: 20%;
	}
}

@media(max-width: 375px) {
	.section-11 .countdown-box {
		flex-basis: 45% !important;
	}
}

.section-12 .fb-comments iframe {
	width: 100% !important;
}
